<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133010125794-6397nkputb43f75e2dohf76a9u7ehfet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133010125794-6397nkputb43f75e2dohf76a9u7ehfet</string>
	<key>API_KEY</key>
	<string>AIzaSyACnYk92_ZuVfhg6SzjnL9-jDu5JKiy0rk</string>
	<key>GCM_SENDER_ID</key>
	<string>133010125794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aking.bar-down</string>
	<key>PROJECT_ID</key>
	<string>bar-down</string>
	<key>STORAGE_BUCKET</key>
	<string>bar-down.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133010125794:ios:9da7c25a7f08ee0e06ffbb</string>
	<key>DATABASE_URL</key>
	<string>https://bar-down.firebaseio.com</string>
</dict>
</plist>